<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Meta Data-->
    <%- include('partial/title.ejs'); %> <% if (data.NODE_ENV == 'production') {
    %>
    <!-- Production Stylesheets -->
    <link rel="stylesheet" href="assets/production/css/services.min.css" />

    <% }else { %>
    <!-- Development Stylesheets -->
    <link rel="stylesheet" href="assets/lib/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/lib/css/fontawesome.min.css" />
    <link rel="stylesheet" href="assets/lib/css/responsive.css" />
    <link rel="stylesheet" href="assets/lib/css/select2.min.css" />
    <link rel="stylesheet" href="assets/lib/css/spacing.css" />
    <link rel="stylesheet" href="assets/lib/css/style.css" />
    <link rel="stylesheet" href="assets/lib/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="assets/lib/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="assets/lib/css/magnific-popup.css" />
    <link rel="stylesheet" href="assets/css/header.css" />

    <% } %>
  </head>

  <body onLoad="typeWriter()">
    <!--Header-->
    <%- include('partial/header.ejs', {data: data }); %>

    <!--Service-Area Start-->
    <div class="service-page pt_60 pb_90">
      <div class="container">
        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="services-item effect-item">
              <a href="/view2" class="image-effect">
                <div
                  class="services-photo"
                  style="background-image: url(assets/images/newborn.JPEG)"
                ></div>
              </a>
              <div class="services-text">
                <h3><a href="/view2">Newborn Care</a></h3>
                <p>
                  High-quality universal newborn health care is the right of
                  every newborn everywhere. Babies have the right to be
                  protected from injury and infection, to breathe normally, to
                  be warm and to be fed. All newborns should have access to
                  essential newborn care, which is the critical care for all
                  babies in the first days after birth. Essential newborn care
                  involves immediate care at the time of birth, and essential
                  care during the entire newborn period. It is needed both in
                  the health facility and at home.
                </p>
                <div class="button-bn">
                  <a href="/view2"
                    >Read More <i class="fa fa-chevron-circle-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="services-item effect-item">
              <a href="/view2" class="image-effect">
                <div
                  class="services-photo"
                  style="background-image: url(assets/images/mothercare.JPEG)"
                ></div>
              </a>
              <div class="services-text">
                <h3><a href="/view2">Mother Care</a></h3>
                <p>
                  With its legacy of over 14 years in the health sector, Mother
                  Care health center is acknowledged for its trust and
                  discipline in facilitating its health services.
                </p>
                <div class="button-bn">
                  <a href="/view2"
                    >Read More <i class="fa fa-chevron-circle-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="services-item effect-item">
              <a href="/view2" class="image-effect">
                <div
                  class="services-photo"
                  style="
                    background-image: url(assets/images/criticaltreatement.JPEG);
                  "
                ></div>
              </a>
              <div class="services-text">
                <h3><a href="/view2">Critical Treatment</a></h3>
                <p>
                  Critical care is medical care for people who have
                  life-threatening injuries and illnesses. It usually takes
                  place in an intensive care unit (ICU). A team of
                  specially-trained health care providers gives you 24-hour
                  care. This includes using machines to constantly monitor your
                  vital signs. It also usually involves giving you specialized
                  treatments.
                </p>
                <div class="button-bn">
                  <a href="/view2"
                    >Read More <i class="fa fa-chevron-circle-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="services-item effect-item">
              <a href="/view2" class="image-effect">
                <div
                  class="services-photo"
                  style="background-image: url(assets/images/lab.JPEG)"
                ></div>
              </a>
              <div class="services-text">
                <h3><a href="/view2">Modern Laboratory</a></h3>
                <p>
                  We undertake our quest of improving the quality of human life
                  with enthusiasm and vigor. Our vision for the future is
                  powered by our business drive. It finds purpose and direction
                  with our strategic intent. It is guided by our corporate
                  culture that places people and capabilities as the pivot that
                  changes and transforms situations.
                </p>
                <div class="button-bn">
                  <a href="/view2"
                    >Read More <i class="fa fa-chevron-circle-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="services-item effect-item">
              <a href="/view2" class="image-effect">
                <div
                  class="services-photo"
                  style="background-image: url(assets/images/test.JPEG)"
                ></div>
              </a>
              <div class="services-text">
                <h3><a href="/view2">All Major Tests</a></h3>
                <p>
                  It has several pharma products that address relevant and
                  growing therapeutic areas like gastroenterology, diabetology,
                  psychiatry, neurology, anti-bacterials, anti-infectives,
                  vitamins and pain management among others.
                </p>
                <div class="button-bn">
                  <a href="/view2"
                    >Read More <i class="fa fa-chevron-circle-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="services-item effect-item">
              <a href="/view2" class="image-effect">
                <div
                  class="services-photo"
                  style="background-image: url(assets/images/dental.JPEG)"
                ></div>
              </a>
              <div class="services-text">
                <h3><a href="/view2">Dental Care</a></h3>
                <p>
                  Dental care or dentalcare is the maintenance of healthy teeth
                  and may refer to: Oral hygiene, the practice of keeping the
                  mouth and teeth clean in order to prevent dental disorders.
                </p>
                <div class="button-bn">
                  <a href="/view2"
                    >Read More <i class="fa fa-chevron-circle-right"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--Service-Area End-->

    <!--Footer-->
    <%- include('partial/footer.ejs'); %>

    <script>
      var i = 0;
      var txt = 'WELCOME TO MEDBUDDY';
      var speed = 60;

      function typeWriter() {
        if (i < txt.length) {
          document.getElementById('typeit').innerHTML += txt.charAt(i);
          i++;
          setTimeout(typeWriter, speed);
        }
      }
    </script>

    <!-- JavaScript -->
    <script defer src="assets/lib/js/jquery-3.4.1.min.js"></script>
    <script defer src="assets/lib/js/popper.min.js"></script>
    <script defer src="assets/lib/js/bootstrap.bundle.min.js"></script>
    <script defer src="assets/lib/js/all.min.js"></script>
    <script defer src="assets/lib/js/select2.full.min.js"></script>
    <script defer src="assets/js/about.js"></script>
  </body>
</html>
