<!DOCTYPE html>
<html lang="en">
  <head>
    <!--Meta Data-->
    <%- include('partial/title.ejs'); %> <% if (data.NODE_ENV == 'production') {
    %>
    <!-- Production Stylesheets -->
    <link rel="stylesheet" href="assets/production/css/terms.min.css" />

    <% }else { %>
    <!-- Development Stylesheets -->
    <link rel="stylesheet" href="assets/lib/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/lib/css/fontawesome.min.css" />
    <link rel="stylesheet" href="assets/lib/css/responsive.css" />
    <link rel="stylesheet" href="assets/lib/css/select2.min.css" />
    <link rel="stylesheet" href="assets/lib/css/spacing.css" />
    <link rel="stylesheet" href="assets/lib/css/style.css" />
    <link rel="stylesheet" href="assets/lib/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="assets/lib/css/bootstrap-datepicker.min.css" />
    <link rel="stylesheet" href="assets/lib/css/magnific-popup.css" />
    <link rel="stylesheet" href="assets/css/header.css" />

    <% } %>
  </head>

  <body onLoad="typeWriter()">
    <!--Header-->
    <%- include('partial/header.ejs', {data: data }); %>

    <!--About Start-->
    <div class="about-page pt_60 pb_30">
      <div class="container">
        <h2>TERMS AND CONDITIONS</h2>
        <div class="row">
          <div class="col-md-12">
            <p>
              Document governs website use; consent to website document:
              implied; consent to website terms and conditions: express; website
              user minimum age. UCC copyright notice; ownership of rights in
              website.
            </p>
            <p>
              Licence to use website; no downloading; website use: permitted
              purposes; no modification of website content; limitations on
              licence to use website; redistributable content; suspension or
              restriction of access to website.
            </p>
            <p>
              access to feeds; accessing feeds and acceptance of document; feeds
              licence; feeds licence condition; revocation of feeds licence.
              Acceptable use: prohibitions; using contact details prohibited;
              veracity of information supplied.
            </p>
            <p>
              Account eligibility; account registration process; no other person
              permitted to use account; notify on misuse of account; use of
              another's account. Provision of login details; user ID rules and
              impersonation; password to be kept confidential; notify on
              disclosure of password; responsibility for password loss.
            </p>
            <p>
              Rights of operator over free website account; cancellation policy
              for unused accounts; cancellation of free website account by user.
              definition of user content; licence of user content; sub-licensing
              of user content; right to bring proceedings in respect of user
              content; waiver of moral rights in user content; user may edit own
              content; delete etc user content on breach.
            </p>
            <p>
              User content warranty; no unlawful user content; user content
              rules; civility and user content; hyperlinking and user content;
              previous complaints and user content.
            </p>
            <p>
              Caveats to limits of liability; interpretation of limits of
              liability; no liability for free information or services; no
              liability for force majeure; no liability for business losses; no
              liability for loss of data or software; no liability for
              consequential loss; no personal liability.
            </p>
          </div>
        </div>
      </div>
    </div>
    <!--About End-->

    <!--Footer-->
    <%- include('partial/footer.ejs'); %>

    <script>
      var i = 0;
      var txt = 'WELCOME TO MEDBUDDY';
      var speed = 60;

      function typeWriter() {
        if (i < txt.length) {
          document.getElementById('typeit').innerHTML += txt.charAt(i);
          i++;
          setTimeout(typeWriter, speed);
        }
      }
    </script>

    <!-- JavaScript -->
    <script defer src="assets/lib/js/jquery-3.4.1.min.js"></script>
    <script defer src="assets/lib/js/popper.min.js"></script>
    <script defer src="assets/lib/js/bootstrap.bundle.min.js"></script>
    <script defer src="assets/lib/js/all.min.js"></script>
    <script defer src="assets/lib/js/select2.full.min.js"></script>
    <script defer src="assets/js/about.js"></script>
  </body>
</html>
